* {
    padding: 0;
    margin: 1;
}
nav ul li {
    list-style-type: none;
}
nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 175px;
    margin-left: 55px;
}
nav ul li {
  background-color: antiquewhite;
  border-style: solid;
  border-color: firebrick;
  border-width: 4px;
  padding: 1px;
  border-radius: 1px;
}
h2{
    text-align-last: center;
    color: white;
    background-color: firebrick;
}
h1{
    color: firebrick;
    text-align-last: center;
    
}
h3{
    text-align-last: center;
    color: white;
    background-color: firebrick;
}
{
    font-family: 'Raleway', sans-serif;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
body{
    background-color: antiquewhite;
}
p{
    text-align-last: center;
    background-color: aliceblue;
}
body {
    max-width: inherit;
    height:600px;
    background-image: url(background.jpg);
}
